@font-face { font-family: droid; src: url('fonts/DroidSans.ttf'); } 
@font-face { font-family: droidbold; font-weight: bold; src: url('fonts/DroidSans-Bold.ttf'); }
@font-face { font-family: stencil; src: url('fonts/StencilStd.otf'); } 
@font-face { font-family: capture; src: url('fonts/Capture-It.ttf'); }

#content_wrapper {
	width: 1280px;
	height: 1280;
	
	border: 5px solid #b0b0b0;
	border-radius: 10px;
	margin: 20px auto;
	padding: 10px;
	background-image: url("images/if_interface_t_seamless_dark.png");
	background-size: 1024px 1024px;
	
}

body {
	background-image: url("images/prop_livingroom_wall_skybox.png");
	background-size: 512px 512px;
	color: white;
	font-family: droid;
}
h1 {
	color: red;
	font-family: stencil;
}
h3 {
	color: yellow;
	font-family: capture;
}

#armygreen {
	color: #5ef241;
}
#armytan {
	color: #fcc26b;
}
