@font-face { font-family: stencil; src: url('../fonts/StencilStd.otf'); }

#content_wrapper {
	width: 640px;
	height: auto;
	
	border: 10px solid #ff00ff80;
	margin: 2px auto;
}

td {
	border: 2px solid #00ff0080;
	font-size: 20px;
}

body {
  background-color: rgb(100,95,85);
  background-image: url('if_credits_background.png');
  background-size: 100vw 100vh;
  background-attachment: fixed;
  
  color: white;
  font-size: 20px !important;
  font-family: arial;
  text-shadow: 2px 2px 0px #00000080;
}

h1 {
	text-align: center;
	font-family: stencil;
	font-size: 40px;
	text-shadow: 4px 4px 0px #00000080;
}

a {
	color: white;
}

named {
	color: rgb(192,192,160) !important;
	padding-left: 46px;
}

.centerplz {
	display: block;
	margin: 10px auto;
}

img {
	border: 1px solid #0000ff80;
}

.art {
	width: 100%;
}
